body {
  font-family: Roboto;
  color: var(--brand-color-title);
  font-size: 14px;
  line-height: 1, 72;
  background-color: #ffffff;
}
/**основные цвета**/
:root {
  --brand-color-title: #212121;
  --brand-color-text: #757575;
  --brand-color-substrate: #2f303a;
  --brand-color-basic: #2196f3;
  --brand-color-name: #ffffff;
}
/**изменения цвета кнопки**/
.header .studio .color-block:hover,
.header .studio .color-block:focus,
.header .portfolio .color-block:hover,
.header .portfolio .color-block:focus,
.header .contacts .color-block:hover,
.header .contacts .color-block:focus,
.header .header-https .color-block:hover,
.header .header-https .color-block:focus,
.header .header-tel .color-block:hover,
.header .header-tel .color-block:focus {
  background-color: var(--brand-color-name);
  color: var(--brand-color-basic);
}

.cap .to-order:hover,
.cap .to-order:focus {
  background-color: teal;
  color: var(--brand-color-title);
}

.knopka .knopka-all-a:hover,
.knopka .knopka-all-a:focus,
.knopka .knopka-web-site-a:hover,
.knopka .knopka-web-site-a:focus,
.knopka .knopka-applications-a:hover,
.knopka .knopka-applications-a:focus,
.knopka .knopka-disain-a:hover,
.knopka .knopka-disain-a:focus,
.knopka .knopka-marketing-a:hover,
.knopka .knopka-marketing-a:focus {
  background-color: teal;
  color: var(--brand-color-name);
}

.poster .poster-name:hover,
.poster .poster-name:focus {
  background-color: chocolate;
  color: var(--brand-color-name);
}

.poster .poster-text:hover,
.poster .poster-text:focus {
  background-color: cornflowerblue;
  color: var(--brand-color-name);
}

.footer .adress-adress:hover,
.footer .adress-adress:focus,
.footer .adress-https:hover,
.footer .adress-https:focus,
.footer .adress-tel:hover,
.footer .adress-tel:focus {
  background-color: darkcyan;
  color: var(--brand-color-title);
}

/**верхняя линия**/
.header {
}
.web-studio1 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 700;
}
.heder-web {
  color: var(--brand-color-title);
}

.drei-knopka {
}

.color-block {
  color: var(--brand-color-title);
}

.studio {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  /**color: var(--brand-color-basic);**/
}
.portfolio {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  color: ;
}
.contacts {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  color: ;
}
.zwei-knopka {
  color: ;
}
.header-https {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  /**color: var(--brand-color-basic);**/
}
.header-tel {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  /**color: var(--brand-color-text);**/
}

/**index**/
/**шапка**/
.cap {
  background-color: var(--brand-color-substrate);
}
.effective {
  font-size: 44px;
  line-height: 1.36;
  color: var(--brand-color-name);
  font-weight: 900;
}
.to-order {
  background-color: var(--brand-color-basic);
  font-size: 16px;
  line-height: 1.82;
  color: var(--brand-color-name);
  font-weight: 700;
  cursor: pointer;
}

/**особенности**/
.peculiarities1 {
}
.block-name {
  font-weight: 700;
}
.block-text {
  font-weight: 400;
  color: var(--brand-color-text);
}
.block-a {
}
.block-b {
}
.block-c {
}
.block-d {
}
/**Чем мы занимаемся**/
.how {
}
.how-a {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
}
.imgbox-a {
}
.imgbox-b {
}
.imgbox-c {
}
/**Наша команда**/
.ourteam {
}
.our {
  font-size: 36px;
  line-height: 1.172;
  color: var(--brand-color-title);
  font-weight: 700;
}
.fotogrupp {
}
.name-img {
  font-size: 16px;
  line-height: 1.17;
  color: var(--brand-color-title);
  font-weight: 500;
}
.name-specialitat {
  font-size: 16px;
  line-height: 1.72;
  color: var(--brand-color-text);
  font-weight: 400;
}

/**portfolio**/
/**knopka**/
.knopka {
  font-size: 16px;
  line-height: 1.63;
  color: var(--brand-color-title);
  font-weight: 500;
  cursor: pointer;
}
.knopka-all {
}
.knopka-web-site {
}
.knopka-applications {
}
.knopka-disain {
}
.knopka-marketing {
}
.poster {
}
.poster-name {
  font-size: 18px;
  line-height: 2;
  color: var(--brand-color-title);
  font-weight: 700;
}
.poster-text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--brand-color-text);
  font-weight: 400;
}
.poster-technokryak {
}
.poster-new-orleanvs {
}
.poster-sea-food {
}
.poster-prime {
}
.poster-boxes {
}
.poster-borders {
}
.poster-limited-edition {
}
.poster-lab {
}
.poster-business {
}
/**подвал**/
.footer {
  background-color: var(--brand-color-substrate);
  font-weight: 400;
}
.dress-adress {
  color: rgba(255, 255, 255, 1);
}
.web-studio {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.192;
  color: var(--brand-color-basic);
  font-weight: 700;
}
.footer-studio {
  color: #ffffff;
}
.adress {
  color: var(--brand-color-name);
}
