/**основные цвета**/
:root {
  --brand-color-title: #212121;
  --brand-color-text: #757575;
  --brand-color-substrate: #2f303a;
  --brand-color-basic: #2196f3;
  --brand-color-name: #ffffff;
}
/**изменения цвета кнопки**/
.header .color-block:hover,
.header .color-block:focus {
  background-color: var(--brand-color-name);
  color: var(--brand-color-basic);
}

.knopka .knopka-a:hover,
.knopka .knopka-a:focus {
  background-color: var(--brand-color-basic);
  color: var(--brand-color-name);
}

.poster .poster-name:hover,
.poster .poster-name:focus {
  background-color: var(--brand-color-basic);
  color: var(--brand-color-name);
}

.poster .poster-text:hover,
.poster .poster-text:focus {
  background-color: var(--brand-color-text);
  color: var(--brand-color-name);
}

.footer .footer-adress:hover,
.footer .footer-adress:focus {
  background-color: var(--brand-color-basic);
  color: var(--brand-color-name);
}

body {
  font-family: Roboto;
  color: var(--brand-color-title);
  font-size: 14px;
  line-height: 1.72;
  background-color: #ffffff;
}

/**верхняя линия**/
.header {
}
.web-studio1 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 700;
  color: var(--brand-color-basic);
}
.heder-web {
  color: var(--brand-color-title);
}

.drei-knopka {
}

.color-block {
  color: var(--brand-color-title);
}

.studio {
  font-weight: 500;
  line-height: 1.17;
  font-weight: 500;
  /**color: var(--brand-color-basic);**/
}
.portfolio {
  font-weight: 500;
  line-height: 1.17;
  font-weight: 500;
  color: ;
}
.contacts {
  font-weight: 500;
  line-height: 1.17;
  font-weight: 500;
  color: ;
}
.zwei-knopka {
  color: ;
}
.header-https {
  font-weight: 500;
  line-height: 1.17;
  font-weight: 500;
  /**color: var(--brand-color-basic);**/
}
.header-tel {
  font-weight: 500;
  line-height: 1.17;
  font-weight: 500;
  /**color: var(--brand-color-text);**/
}

/**index**/
/**шапка**/
.cap {
  background-color: var(--brand-color-substrate);
}
.effective {
  font-size: 44px;
  line-height: 1.36;
  color: var(--brand-color-name);
  font-weight: 900;
}
.to-order {
  background-color: var(--brand-color-basic);
  font-size: 16px;
  line-height: 1.82;
  color: var(--brand-color-name);
  font-weight: 700;
  cursor: pointer;
}

/**особенности**/

.block-name {
  font-weight: 700;
}
.block-text {
  font-weight: 400;
  color: var(--brand-color-text);
}

/**Чем мы занимаемся**/

.how-a {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
}

.our {
  font-size: 36px;
  line-height: 1.17;
  color: var(--brand-color-title);
  font-weight: 700;
}

.name-img {
  font-size: 16px;
  line-height: 1.2;
  color: var(--brand-color-title);
  font-weight: 500;
}
.name-specialitat {
  font-size: 16px;
  color: var(--brand-color-text);
  font-weight: 400;
}

/**portfolio**/
/**knopka**/
.knopka {
  font-size: 16px;
  line-height: 1.6;
  color: var(--brand-color-title);
  font-weight: 500;
  cursor: pointer;
}
.knopka-all {
  cursor: pointer;
}
.knopka-web-site-a {
  cursor: pointer;
}
.knopka-applications-a {
  cursor: pointer;
}
.knopka-disain-a {
  cursor: pointer;
}
.knopka-marketing-a {
  cursor: pointer;
}
.poster {
}
.poster-name {
  font-size: 18px;
  line-height: 2;
  color: var(--brand-color-title);
  font-weight: 700;
}
.poster-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--brand-color-text);
  font-weight: 400;
}

/**подвал**/
.footer {
  background-color: var(--brand-color-substrate);
  font-weight: 400;
}
.dress-adress {
  color: rgba(255, 255, 255, 1);
}
.web-studio {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-color-basic);
  font-weight: 700;
}
.footer-studio {
  color: var(--brand-color-name);
}
.adress {
  color: var(--brand-color-name);
}
